<div class="scoreboard">
<ng-container *ngIf="latest$ | async as recording">
  <div class="temp">
  {{ recording.F | number:'1.2-2' }}
  </div>
  <div class="label">
    Last updated {{ recording.created | timeAgo }}.
  </div>
  <div *ngIf="isStaleRecording(recording.created)" class="warning">
    Warning sensor potentially offline.
  </div>
</ng-container>
<ng-container *ngIf="rolling$ | async as rolling">
  <div class="temp">
    {{ rolling | number:'1.2-2'}}
  </div>
  <div class="label">
    10-minute rolling average.
  </div>
</ng-container>
</div>